
<div class="addJob">
  <h1>ADD A JOB, DUDE</h1>
  <form>
    <div class="addJobInput">
      <h2>Job Title</h2>
      <input class="textbox" type="text" placeholder="Job title">
      <span class="textboxCaption">Name that job</span>
      <h2>Company Name</h2>
      <input class="textbox" type="text" placeholder="Company name">
      <span class="textboxCaption">Name that place</span>
      <h2>Job Description</h2>
      <input class="textbox" type="text" placeholder="Job Description">
      <span class="textboxCaption">Describe that job</span>
    </div>
    <input class="submitButton" type="submit" value="Add Job">
  </form>
</div>
